 * {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;

}

/* width's' */ 

.w-100{
    width: 100%;
}

.w-100-3 {
    width: calc(100% / 6);
}

/* height's' */ 

.h-150 {
    height: 150px;
}

.h-70p {
    height: 70px;
}

.h-50p {
    height: 50px;
}

.h-45-lh-45 {
    height: 45px;
    line-height: 45px;
}

.h-20p {
    height: 20px;
    line-height: 20px;
}

/* display's' */

.dis-block {
    display: block;
}

.dis-inline {
    display: inline;
}

.p-absolute {
    position: absolute;
}


/* font-weight's' */

.f-w-b {
    font-weight: bold;
}

/* Tamano de titulos */
h1 {
    font-size: 2em;
}

/* Estilo para los botones */ 

.btn-2{

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

}

.btn-2 button{

    border:none;
    text-align: center;
    margin-left: .2em;
    padding: 5px;
    width: 25%;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;

}

/* Estilo para los colores y fondo */ 

.rgba-1{
    background-color: rgb(155, 246, 255);
}

.rgba-2{
    background-color: rgb(189, 178, 255);
}

.border-rgba-2{
    border-bottom: 2px solid rgb(189, 178, 255);
}

.rgba-3{
    background-color: rgb(255, 255, 252);
}

.rgb-boton-accion{
    background-color: rgb(160, 196, 255);
}

.rgb-cabecera {
    background-color: rgb(155, 246, 255);
}

.rgb-contenido {
    background-color: rgba(234, 253, 255, 1);
}

.color-rojo {
    color: red;
}

/* Estilo para los bordes y relleno */ 

.b-radius-10 {
    border-radius: 10px;
}

.m-top-15{
    margin-top: 15px;
}

.m-left-10{
    margin-left: 10px; 
}

.m-left-2 {
    margin-left: .2em;
}
    

.p-2{
    padding: 2px;
}

.p-0-40-0-10 {
    padding: 0 40px 0 10px;
}

/* Centrado de texto e items */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.flex-center-x-y {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.table-50 {
    width: 60%;
    margin-top: 50px;
}


/* Estilos para tablas */
.cabecera-table{
    display: flex;
    flex-direction: row;
}

.contenido {
    text-align: center;
    margin-left: .2em;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
}

.sin-contenido {
    height: 20px;
    line-height: 20px;
    margin-top: 2px;
}

/* Columnas por tabla */

.columnas4 {
    width: calc(100% / 4);
}

/* Estilos para el template de la web */
.container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "b b b b b b b b b b b b"
        "f f f f f f f f f f f f";
    width: 100vw;
    height: 100vh;
}

.header{
    grid-area: h;
}

.body{
    grid-area: b;
}

.footer{
    grid-area: f;
    bottom: 0px;
    font-weight: bold;
}

/* estilos para los botones de la cabecera */

@media (orientation:landscape){

    nav ul {
        list-style-type: none;
        display: flex;
        height: 70px;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        width: 10%;
    }

    nav ul li a {
        display: block;
        padding: .5em;
        font-size: 1em;
        color: black;
        text-align: center;
        border: 2px solid rgb(255, 198, 255);
        margin-left: 0.2em;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
    }

    nav ul li a:hover{
        background-color: rgb(255, 198, 255);
        text-decoration: none;
    }



}


@media (orientation:portrait){
    nav ul{
        list-style-type: none;
        display: grid;
        margin: 0px;
        padding: 0px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 0.2em;
        position: absolute;
        width: 50%;
        top: 50px;
        left: 50%;
        margin-top: -25px;

    }

    nav ul li a{

        display: block;
        padding: .5em;
        font-size: 1em;
        color: black;
        text-align: center;
        border: 2px solid rgb(255, 198, 255);
        margin-left: 0.2em;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;


    }

    nav ul li a:hover{
        background-color: black;
        text-decoration: none;
    }

}


/* Estilos popup para ahorros */


/* --------------------------- */
/* POPUP */
/* --------------------------- */

.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    display: block;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
}

.popup h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    opacity: 0; 
} 

.popup form .contenedor-inputs {
    opacity: 0;
}


/*.popup form .contenedor-inputs input, textArea {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;    
}*/

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover{
    background: rgba(94,125,227, .9);
}


/* --------------------------- */
/* Animaciones */
/* --------------------------- */

.popup.active { opacity: 1; transform: scale(1); }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards }
.popup.active .contenedor-inputs { animation: entradaInputs 1s ease 1s forwards }

@keyframes entradaTitulo {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {opacity: 0;} 
    to {opacity: 1;}
}


/* Validaciones */

.formulario__label {
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input, .formulario__textarea, .formulario__select {
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: .3s ease all;
}

.formulario__input:focus, .formulario__textarea:focus, .formulario__select:focus {
    border: 3px solid #BBBBBB;
    outline: none;
    box-shadow:  3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; 
}

.formulario__mensaje {

    height: 45px; 
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;

}

.formulario__mensaje-activo {

    display: block;

}

.formulario__mensaje-exito {

    font-size: 14px;
    color: #119200;
    display: none;

}

.formulario__mensaje-exito-activo {

    display: block;

}

.formulario__grupo-btn-enviar {

    margin-top: 10px;

}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

.container-table {
    max-width: 100%;
    max-height: 300px;
    overflow: auto; 
}